---
import { Icon } from 'astro-icon/components';

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import ScrollToTop from '@/components/react/ScrollToTop';
import Breakpoints from '@/components/utils/breakpoints.astro';
import { isProd } from '@/utils/environment';

import type { BaseHeadProps } from '@/components/BaseHead.astro';

export interface BaseProps extends BaseHeadProps {}

const { metadata } = Astro.props as BaseProps;
---

<html lang={Astro.currentLocale ?? 'ja'}>
  <BaseHead {metadata} />
  <body
    class="relative flex flex-col min-h-screen min-w-80 bg-base-100 transition-colors duration-500"
  >
    <Header class="fixed top-0 left-0 right-0 z-50 bg-base-100 shadow-md" />
    <div class="pt-16">
      <!-- ヘッダーの高さ分のパディングを追加 -->
      <slot />
    </div>
    <ScrollToTop client:only="react">
      <Icon name="mdi:arrow-up-thin" class="h-10 w-10 text-content hover:text-links-hover" />
    </ScrollToTop>

    {!isProd && <Breakpoints />}
  </body>
</html>
